<section id="" class="clearfix user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-registerFood -->
      <div class="col-sm-12">
        <h2 class="title">Random User Data</h2>

        <div [chart]="chart">

        </div>

        <div [chart]="chart2" style="margin-top: 30px;">

        </div>

        <button (click)="doSave()" class="btn savebtn" style="margin-top: 50px;">Save</button>

      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<ng4-loading-spinner [threshold]="1000" [template]="loadTemplate" [loadingText]="''" [zIndex]="999"></ng4-loading-spinner>
