.savebtn {
    background-color: #f26522 !important;
    color: #fff;
    min-width: 300px;
    padding: 15px 10px;
}

:host ::ng-deep .custom-spinner-template {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}