<section id="main" class="clearfix home-two">
  <div class="container">

    <div class="row">
      <p class="brief_introduce">
         Welcome to this Prototype
      </p>
      <p class="brief_introduce">
        This web application fetches random user data from <a href="https://randomuser.me/" target="_blank">Random User Generator</a> and visualizes the data in charts.
      </p>
    </div>

    <div class="col-lg-12 col-xs-12 text-center beginner-btn-box">
      <a routerLink="/rd-data" class="btn back-orange beginner-guide-btn">Let's Get Started</a>
    </div>

  </div>
  <!-- container -->
  <!-- gmap -->
  <!--div id="road_map"></div-->
</section>
<!-- world-gmap -->

